.navbar-nav{
    .nav-item{
        .nav-link{
            font-family: 'IBM Plex Sans', sans-serif;
            color: black;
        }
    }
    
}
body{
    font-family: 'IBM Plex Sans', sans-serif;
}
.section-jumbotron{
    margin-top:-50px;
    .jumbotron{
        color: white;
    }
}
.section-content{
    margin-top: -50px;
}

.section-form-login{
    margin-top:-50px;
        
}

.section-form-register{
    margin-top:-50px; 
          
}


.section-form-umkm{
    margin-top:-80px;
    color:white;
}

.section-success{
    padding: 150px 0px 50px 0px;
}

.container-2{
    margin-top: -200px;
    
    .jumbotron{
        max-height: 168px;
    }
}

@media (max-width: 768px) {
    .container-2 {
        margin-top:1px;
    }
 }